.signin-head-msg{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
}

.google-text{
      width: 80%;
      height: 40px;
      background-color: #4285F4;
      color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      font-family: 'Roboto', sans-serif; /*google provided font*/
      font-style: normal; /*normal, italic, oblique */
      font-weight: 500; /*300-light, 400-regular,  500-medium, 700-bold*/
}

.google-icon{
  width: 20%;
}

.google-signin{
  display: flex;
  border: solid 2px #4285F4;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px 1px rgba(66,133,244,1);
  width: 200px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
}

.google-signin:hover{
  cursor: pointer;
}


.facebook-signin{
  display: flex;
  border: solid 1px #4285F4;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px 1px rgba(66,133,244,1);
  margin: auto;
  width: 240px;
  height: 40px;
  flex-direction: row;
  justify-content: center;

}


.facebook-text{
      width: 80%;
      height: 40px;
      background-color: #4285F4;
      color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      font-size: 14px;
      white-space: nowrap;
}

.facebook-icon{
  width: 20%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  line-height: 40px;
  padding-top: 5px;
}


.flex-item-col{
  padding: 5px 0 0 0;
}

.flex-item-row{
  padding: 0 7px 0 0;
}

.flex-container-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -5px 0 0 0;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  margin: 0 -7px 0 0;
}
